<?xml version = "1.0" encoding = "UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets" 
   xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.sasanka.goodbox" version = "1.0">
   
   <name>goodbox</name>                                    
      
   <description>
      goodbox Point Online Viewer
   </description>
   
   <author href = "" email = "st970698@gmail.com">
      sasanka talukdar
   </author>
   
   <preference name = "permissions" value = "none"/>
   
   <icon src = "res/icon/android/dell_flurry_icon_by_flakshack-d4jpqe3.png" 
      gap:platform = "android" gap:qualifier = "ldpi" />
		
   <icon src = "res/icon/android/dell_flurry_icon_by_flakshack-d4jpqe3.png" 
      gap:platform = "android" gap:qualifier = "mdpi" />
		
   <icon src = "res/icon/android/dell_flurry_icon_by_flakshack-d4jpqe3.png" 
      gap:platform = "android" gap:qualifier = "hdpi" />
		
   <icon src = "res/icon/android/dell_flurry_icon_by_flakshack-d4jpqe3.png" 
      gap:platform = "android" gap:qualifier = "xhdpi" />
		
   <icon src = "res/icon/android/dell_flurry_icon_by_flakshack-d4jpqe3.png" 
      gap:platform = "android" gap:qualifier = "xxhdpi" />
   
   <icon src = "res/icon/ios/dell_flurry_icon_by_flakshack-d4jpqe3.png" gap:platform = "ios" gap:qualifier = ""/>
   <icon src = "res/icon/ios/dell_flurry_icon_by_flakshack-d4jpqe3.png" gap:platform = "ios" width = "57" height = "57" />
   <icon src = "res/icon/ios/dell_flurry_icon_by_flakshack-d4jpqe3.png" gap:platform = "ios" width = "72" height = "72" />
   <icon src = "res/icon/ios/dell_flurry_icon_by_flakshack-d4jpqe3.png" gap:platform = "ios" width = "114" height = "114" />
   <icon src = "res/icon/ios/dell_flurry_icon_by_flakshack-d4jpqe3.png" gap:platform = "ios" width = "144" height = "144" />
   
</widget>