body {
    display: block;
    margin: 0px;
}

img {
    width: 100%;
}

#wrapper-two div,#wrapper div{
  position: absolute;
}

#top-date{
    top: 25%;
    left: 44.3%;
    font-size: 13px;
    background-color: #F3F7F8;
    color: #ACBFD0;
    width: 15%;
}
#bottom-date{
    bottom: 12%;
    right: 6%;
    font-size: 13px;
    background-color: #5E8B9D;
    color: #ACBFD0; 
}
div#order-no {
    top: 54.5%;
    left: 27.3%;
    font-weight: 700;
    font-size: 19px;
    background-color: #FFFFFF;
    width: 14%;
}
div#paid-on-date {
    top: 37%;
    left: 36.8%;
    font-size: 14px;
    background-color: #5E8B9D;
    color: #FFFFFF;
}
div#main-date {
    top: 64.5%;
    left: 27%;
    font-weight: 700;
    font-size: 19px;
    background-color: #FFFFFF;
}

div#use-it {
    bottom: 18%;
    height: 15%;
    width: 93%;
}
div#get-order-no {
    top: 0%;
    height: 15%;
    width: 93%;
}

img#use-now-pop-up {
    position: absolute;
    top: 40%;
    width: 88%;
    left: 6%;
}
div#dim-the-screen {
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.7;
}
.hide{
  display: none !important;
}





#top-date-two {
    top: 22.5%;
    right: 9.3%;
    font-size: 18px;
    background-color: #FAF9F0;
    color: #000;
    width: 30%;
    text-align: right;
    font-weight: bold;
}
#bottom-date-two{
    top: 20.1%;
    right: 10%;
    font-size: 13px;
    background-color: #FAF9F0;
    color: #000;
    font-weight: 800;
}
div#order-no-two {
    top: 22.2%;
    left: 9%;
    font-weight: 700;
    font-size: 19px;
    background-color: #FAF9F0;
        width: 20%;
}

div#time-count {
    color: #EA5555;
    bottom: 2%;
    left: 38%;
    font-size: 44px;
    width: 26%;
    background-color: #403B3B;
}

@keyframes mymove-logo {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);;}
}

#goodbox-logo{
    position: absolute;
    animation: mymove-logo 3s infinite;
    top: 9%;
    width: 11%;
    right: 11%;
}




#item-price{
    top: 43.5%;
    left: 31.3%;
    font-weight: bolder;
    font-size: 28px;
    background-color: #FFFFFF;
    width: 14%;
}
#item-counter{
    top: 72.5%;
    left: 27.3%;
    font-weight: 600;
    font-size: 17px;
    background-color: #FFFFFF;
    width: 40%;
    height: 6%;
    color: #3a3a3a;
}
#item-name{
    top: 78.5%;
    left: 27.3%;
    font-weight: 600;
    font-size: 14px;
    background-color: #FFFFFF;
    width: 40%;
    height: 5%;
    color: #3a3a3a;
}


#item-price-next{
    top: 29.5%;
    right: 4.3%;
    font-weight: 500;
    font-size: 22px;
    background-color: #FAF9F0;
    width: 20%;
}
#item-price-next-2{
    top: 77.2%;
    right: 4.3%;
    font-weight: bolder;
    font-size: 24px;
    background-color: #FAF9F0;
    width: 20%;
}

#item-name-next{
    top: 30%;
    left: 8.3%;
    font-weight: 600;
    font-size: 18px;
    background-color: #FAF9F0;
    width: 40%;
    height: 10%;
}
#item-quntity-next{
    top: 30%;
    left: 56.3%;
    font-weight: 600;
    font-size: 21px;
    background-color: #FAF9F0;
    width: 13%;
    height: 6%;
}
#item-counter-next {
    top: 13.5%;
    left: 18.3%;
    font-weight: bolder;
    font-size: 23px;
    background-color: #FAF9F0;
    width: 62%;
    height: 6%;
    color: #3a3a3a;
    text-align: center;
}



ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
    max-height: 30%;
    overflow: scroll;
}







.image-zeta{
    background-image: url(zeta_order.png);
    background-size: cover;
}
.image-inter-zeta{
    background-image: url(zeta_inter.png);
    background-size: cover;
}





.wrap {
    width: 331px;
    height: 21px;
    background: transparent;
    position: relative;
    border-radius: 60px;
    margin-left: 15px;
    margin-top: -32px;
}

.box {
    width: 21px;
    height: 21px;
    background: red;
    border-radius: 50%;
    position: absolute;
    margin-top: -21px;
    margin-left: 0px;
}

.ptag {
  position: absolute;
  top: 0;
  left: 0;
}